<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>
    <category label="31001">
        <setting id="enabled"   label="31002" type="bool"   default="false" />
        <setting id="onstart"   label="31003" type="bool"   enable="eq(-1,true)" default="false" />
        <setting id="interval"  label="31004" type="number" enable="eq(-2,true)" default="3" />
        <setting id="city"      type="select" label="31006" enable="eq(-3,true)" default="0" lvalues="31101|31102|31103|31104|31105|31106" />
        
        <setting label="33002" type="lsep"/>
        <setting label="31005" type="action" option="close" action="RunScript(script.module.metroepg, chsettings)" />
        <setting label="31007" type="action" option="close" action="RunScript(script.module.metroepg, chsettingsiptv)" />
        
        <setting id="nextstart"  type="number"   visible="false"  />
    </category>
    <category label="32001">
        <setting id="codepage" label="32002" default="cp1251" type="text" />
        <setting id="notalert" label="32003" default="false"  type="bool" />
        <setting label="33001" type="lsep"/>
        <setting label="32004" type="action" action="RunScript(script.module.metroepg, update)" />
    </category>
    <category label="31008">
        <setting id="myfolderlogo"   label="31009" type="bool"   default="true" />
        <setting label="31010" type="folder" id="otherfolderlogo" source="auto" option="writeable" enable="eq(-1,false)" />
        <setting label="33001" type="lsep"/>
        <setting label="32005" type="action" action="RunScript(script.module.metroepg, update_icon)" />
        <setting label="32006" type="action" action="RunScript(script.module.metroepg, downloadlogo)" />        
    </category>
    <category label="31200">
        <setting id="proxysrv"   label="31201" type="bool"   default="false" />
        <setting id="proxy_ip"  label="31202" type="text" enable="eq(-1,true)" default="192.168.1.1" />
        <setting id="proxy_port"  label="31203" type="number" enable="eq(-2,true)" default="4022" />
    </category>
</settings>
